@mixin titles-sections ($secundary-color){
    font-size:$main-size;
    font-family: $main-title;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    padding: 5px 10px 0px;
    }
@mixin sub-titles-sections ($secundary-color) {
    text-align: center;
    margin:0 auto;
    font-size: 15px;
    padding-bottom:20px;
    color: $letter-subtitle-color;
    width: 40%;
    font-family:$main-text;
    line-height: 25px;
}
@mixin button ($nav-color){
    background-color: $nav-color;
    border: 1px solid $nav-color;
    transition: .3s all; 
}

@mixin text-card-service { 
    font-size: 14px;
    font-family: $main-text;
    text-align: left;
    padding: 15px 0px 15px;
}

@mixin transitions-team {
    font-size: 13;
    font-family: $main-text;
    color: green;
    display: flex;  
    justify-content: space-between;  
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    right: 900px;
    
}

.home-button{
    @include button(#1445B3);
    color: #ECF5FF;
         &#service {
            background-color: $main-color;
            border: 2px solid $secundary-color;
            color: $secundary-color;
            transition: .3s all;
             &:hover {
           background-color: $nav-color;
                border: 1px solid $nav-color;
                color: $secundary-color;
                transition: .3s all;
             }
        }  

} 
.section-title{
    .title{   
    @include titles-sections(#556877)}
    h3{
        font-family: $main-title;
        font-size: 20px;
        font-weight: 600;
    }
   .subtitle {
    @include sub-titles-sections (#283d50)}

}
.diferent-section-title{
    @include titles-sections(#283d50);
        color: #ECF5FF;
        padding: 5px 5px 0px;
        padding-bottom:50px;
    .subtitle{
     @include sub-titles-sections(#ECF5FF);
        color: #ECF5FF;
        font-weight:lighter;
        padding-top: 20px;
    }
   
}
.card-services{
    @include text-card-service;
    h4{
        font-family:$main-title;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    h4:hover{
        color: $nav-color;
    }
   & i:nth-child(1){
        color: purple;
        
        & i:nth-child(+2){
        color: red;
    }
    }
}
 .team-efects {
    @include transitions-team;
            .social-media{
           ul{
            list-style: none;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
           }
        } 
  
}








/*@mixin section-container ($main-color){
    margin: 0 auto; 
    position: relative;
    display: flex;
    background-color:$main-color;
}
.section-container{
    @include section-container 
}*/
