$main-text: 'Open Sans, sans-serif';
$main-title: Montserrat, sans-serif; 
$main-size: 36px;
$paragraph-size: 15px;
$second-size: 18px;
$main-color:#004a99;
$secondary-color:#ECF5FF;
$terciary-color:#00428A;
$nav-color: #007bff;